.title{
    font-size: 50px;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    color: #071407;
    margin: 10px;
    text-shadow: 5px 2px black;
}
.card{
    width: 50%;
    min-height: 400px;
    margin: auto auto auto auto;
    background-color: #8aed8b;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}

@media screen and (max-width: 600px) {
    .card{
        width: 90%;
    }
}