RewriteEngine On
RewriteBase /

# Nếu request không phải file hoặc folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect về index.html
RewriteRule ^ index.html [L]
